.main-title {
    text-align:center;
  }
  
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
  }
  
  .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 6.3rem;
  }
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
  }
  
  /* ----------------------------------------------------------------------------------------------------------------- */
  /*ABOUT- right-bout */
  .right-about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .left-about {
    padding-right: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .left-about-item{
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
    max-width: 27rem;
  }
  .about-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 .4rem;
    transition: all .2s ease-in-out; 
  }
  
  .about-icon:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 0 25px 7px var(--color-secondary);
  }
 

  .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .small-text {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .left{
    font-size: 1rem;
  }
  .small-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
  }
  
  .about-item:hover,
  .about-item:active {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 0 0 15px 1px var(--color-secondary);
  }
  
  /* ----------------------------------------------------------------------------------------------------------------- */
  /* ABOUT-left-about */
  
  .p-para {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey1);
  }
  
  .h4-abt {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .about-stats {
    padding-bottom: 4rem;
  }
  
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  .progress-bar {
    display: flex;
    flex-direction: column;
  }
  .progress-bar:hover{
    transform: scale(1.04);
    transition: all .4s ease-in-out;
  }
  .h4-abt:hover{
    transform: scale(1.09);
    transition: all .4s ease-in-out;
  }
  .prog-title {
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .progress-con {
    display: flex;
    align-items: center;
  }
  
  .prog-text {
    color: var(--color-grey-2);
  }
  
  .progress {
    width: 100%;
    height: .45rem;
    background-color: var(--color-grey-4);
    margin-left: 1rem;
    position: relative;
  }
  
  .html {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    width: 80%;
    transition: all .4s ease-in-out;
  }
  .html:hover{
    width: 90%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
  }
  .css {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    width: 80%;
    transition: all .4s ease-in-out;
  }
  .css:hover{
    width: 90%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
  }
  .js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    width: 80%;
    transition: all .4s ease-in-out;
  }
  .js:hover{
    width: 90%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
  }
  .reactjs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    width: 70%;
    transition: all .4s ease-in-out;
  }
  .reactjs:hover{
    width: 80%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
  }
  .nodejs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    width: 55%;
    transition: all .4s ease-in-out;
  }
  .nodejs:hover{
    width: 70%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
  }
  .db {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    width: 50%;
    transition: all .4s ease-in-out;
  }
  .db:hover{
    width: 70%;
    box-shadow: 0 0 10px 2px var(--color-secondary);
  }
  
  .stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
  }
  
  .stat-title::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 60%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }
  
  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  
  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1 px solid var(--color-secondary);
  }
  
  .tl-icon {
    position: absolute;
    left: -27px;
    background-color: var(--color-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tl-icon:hover{
    transform: scale(1.102);
    transition: all .4s ease-in-out;
    box-shadow: 0 0  15px 5px var(--color-secondary);
    }
    .timeline-item:hover{
      transform: scale(1.03);
      transition: all .4s ease-in-out;
    }
    .p-para:hover{
      transform: scale(1.03);
      transition: all .4s ease-in-out;
    }
  .i {
    font-size: 1.3rem;
  }
  
  .tl-duration {
    padding: .2rem .6rem;
    background-color: var(--color-grey-5);
    border-radius: 15px;
    display: inline-block;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .webh5 {
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  .wb-dev {
    color: var(--color-grey-2);
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .wb-p {
    color: var(--color-grey-2);
  }

  .skill-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .skill-icon {
    width: 50px;
    height: 50px; 
    margin: 0 5px;
  }
  @media screen and (max-width:1432px) {  
    .section {
      padding: 7rem 11rem;
    }
  }
  
  @media screen and (max-width:1070px) {
    .about-container {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 3rem;
    }
  
    .left-about {
      margin-bottom: 2rem;
    }
  
    .h4-about {
      padding-left: 3rem;
    }
    .main-title>h2 {
      font-size: 3rem;
    }
  
    .name-span {
      font-size: 3rem;
    }
  
    .bg-text {
      font-size: 4rem;
    }
    
  
  }
  
  @media screen and(max-width:970px) {
    .section {
      padding: 7rem 6rem;
    }
  }
  
  @media screen and (max-width:600px) {
    .about-container {
      grid-template-columns: 1fr;
      margin: 0 0 2rem 0;
    }
  
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
      display: none;
    }
  
    .left-about {
      padding-right: 0;
      margin-bottom: -3rem;
    }
    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: all.4s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
      max-width: 27rem;
    }
    .p-para {
      padding-left: 0;
      text-align: center;
    }
  
    .timeline {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
  
    .progress-bars {
      grid-template-columns: 1fr;
    }
  
    .name-span {
      font-size: 3rem;
    }
  
    .bg-text {
      font-size: 4rem;
    }
  
    .bg-text-contact {
      font-size: 3.5rem;
    }
  
    .section {
      padding: 2rem 2.5rem;
    }
  }
  
  
 

  
 
  
  